
{% extends 'base.html' %}
{% block body %}
 <div class="container" style="width:50% ;">
<section class="vh-100">
  <div class="container py-5 h-50">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="">
            <div class=" d-flex align-items-center">
              <div class="card-body p-5 p-lg-5 text-black">
                <form>
                  <h5 class="fw-normal mb-3 pb-3 h2" style="letter-spacing: 1px;">Create your account</h5>

                  <div class="form-floating mb-4">
                    <input type="email" id="form2Example17" class="form-control" placeholder="Email address"  />
                    <label class="form-label" for="form2Example17">Email address</label>
                  </div>

                  <div class="form-floating mb-4">
                    <input type="password" id="form2Example27" class="form-control" placeholder="Password" />
                    <label class="form-label" for="form2Example27">Password</label>
                  </div>
                  <div class="form-floating mb-4">
                    <input type="password" id="form2Example37" class="form-control" placeholder="Password" />
                    <label class="form-label" for="form2Example37">Confirm Password</label>
                  </div>
                  <div class="pt-1 mb-4">
                    <button class="btn btn-dark btn-lg btn-block" type="button">Login</button>
                  </div>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>


{% endblock body %}
